@import url('../base.css');

.search-bar {
  width: 100%;
  border-bottom: 1px solid var(--dark);
  box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.4),
    1px 2px 4px 0px rgba(0, 255, 255, 0.4),
    2px 4px 8px 0px rgba(0, 255, 255, 0.4),
    2px 4px 16px 0px rgba(0, 255, 255, 0.4);
}

.searchbar {
  color: var(--white);
  padding: 0 0.5rem;
}

.searchbar > div {
  padding: 0 1rem;
}

.searchbar h3 {
  text-align: left;
}

.searchbar form input {
  color: var(--grey);
  background-color: var(--dark);
  border: 1px solid var(--cyan);
  box-shadow: inset 0px 2px 5px 0px rgba(0, 255, 255, 0.3);
}

.searchbar form input:focus {
  color: var(--white);
  background-color: var(--dark);
  border: 1px solid var(--cyan);
  box-shadow: inset 0px 2px 5px 0px rgba(0, 255, 255, 0.7);
}

.outline-teal {
  border: 1px solid var(--blue);
}

.searchbar button[type='submit'] {
  color: var(--cyan);
  background-color: var(--dark);
  border: 1px solid var(--cyan);
}

.searchbar button[type='submit']:hover {
  color: var(--white);
  background-color: var(--cyan);
  border: 1px solid var(--cyan);
}
