.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.post {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.131);
  height: 100%;
  border-radius: .5rem;
}

.btn:hover {
  background-color: #3f9fba;
}

.form-control:focus, .btn:focus {
  outline: none;
  border:1px solid #3f9fba;
  box-shadow: none;
}
